<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main-layout}">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>

    <div layout:fragment="content" class="container myJumbo">
        <div class="alert alert-danger" th:if="${param.error}">
            <h2>Invalid Email or Password</h2>
        </div>

        <form th:action="@{/login}" method="post">

            <div class="form-group">
                <label for="email" class="form-control-label">Email</label>
                <input type="email" class="form-control" id="email" name="username">

            </div>

            <div class="form-group">
                <label for="password" class="form-control-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">

            </div>

            <input type="submit" value="Submit" class="btn btn-primary">

        </form>
    </div>

</body>
</html>